[core]
	whitespace = trailing-space,space-before-tab,cr-at-eol
	pager = less -R -F
	excludesfile = ~/.gitignore_global
	autocrlf = input
[user]
	name = Michael Ummels
	email = michael@ummels.de
[color]
	ui = true
[push]
	default = upstream
[alias]
	a = add
	st = status
	ci = commit
	ca = commit --amend
	br = branch
	co = checkout
	df = diff
	dc = diff --cached
	lg = log -p
[transfer]
        fsckobjects = true 
[fetch]
        fsckobjects = true 
[receive] 
        fsckObjects = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
